/*----navbar----*/
*
{
    padding: 0px;
    position:sticky;
}
.navbar 
{
    background-image: linear-gradient(to right,rgb(155, 212, 235), skyblue);
    padding: 0 !important;
    position: sticky;

}.mp
{   
    float: left;
    width: 69%;
}

a
{
    background-image: linear-gradient(to right,rgb(155, 212, 235), skyblue);
}
.m1
{
    float: right;
    padding: 4px;
}
.m2
{
   float: right;
   padding: 4px; 
}
.m3
{
    float: right;
    padding: 4px; 
 }
 .m4
 {
    float: right;
    padding: 4px; 
 }
/*----home---*/
#home
{
    background-image: linear-gradient(to right,rgb(155, 212, 235), skyblue);
    padding-top: 5%;
}
.home-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.infor
{
    margin: 20px;
    width: 45px;
}
#home a
{
    color:black;
}
.img-fluid
{
    border-radius: 50%;
}
.bot-img
{
    width: 100%;
    
}
/*----farmer---*/
#farmer
{
    padding: 80px 0;
}
.img-1
{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 20px;
}
.farmer
{
    padding: 20px;
}
.farmer h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before
{
    content: '';
    background: rgb(118, 207, 242);
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height:5px ;
    transform: translateY(63px);
    display: block;
}
.title::after
{
    content: '';
    background: rgb(118, 207, 242);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 50px;
    height:10px ;
    transform: translateY(8px);
    display: block;
}
#farmer .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right,rgb(155, 212, 235), skyblue);

}
/*-------about-----*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f8f9fa;
}
.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li
{
    margin: 10px 0px;
}
.img-fluid1
{
    height: 70%;
    width: 50%;
}
#about-us ul
{
    margin-left: 20px;
}
/*-----contact-----*/
#contact
{
    margin: 100px 0px;
}
.contact
{
    border-left: 4px solid #87cee8;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact img
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.user
{
    display: inline-block;
    font-size: 12px;
}
/*-----social media---*/
#social
{
    background-color: #f8f9fa;
    padding: 100px 0;
}
#social p
{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.icon img
{
    width: 60px;
    transition: 0.5s;
}
.icon a:hover img
{
    transform:translateY(-10px);
}
/*---------footer---------*/
#footer
{
    background-image: linear-gradient(to right,rgb(155, 212, 235), skyblue);
    color: #fff; 
}
.footer-img
{
    width: 100%;
}
.footer-box
{   
    padding: 20px;
    color: black;
}
.footer-box1
{
    float: right;
    padding: 20px;
    color: black;
}
.footer-box img
{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa
{
    margin-right:8px ;
    font-size:25px ;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right,rgb(155, 212, 235), skyblue);
}
.fimg
{
    width: 30px;
    border-radius: 50px;
}
hr{
    background-color: black;

}
.copy
{
    margin-bottom:0 ;
    padding-bottom: 20px;
    text-align: center;
    color: black;
}

